<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.2.xsd">
    <!--配置web相关-->
    <import resource="spring-service.xml"/>
    <!--配置任务扫描-->
    <task:annotation-driven />
    <!--扫描任务-->
    <context:component-scan base-package="com.choose.global" />
    <context:annotation-config/>
    <!--静态资源处理-->
    <mvc:default-servlet-handler/>
    <!--配置任务扫描-->
    <task:annotation-driven />
    <!--扫描任务-->
    <context:component-scan base-package="com.choose.global" />
    <context:annotation-config/>
    <!--配置带有前缀和后缀的视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--注解解析器-->
    <mvc:annotation-driven/>
    <context:annotation-config/>
    <context:component-scan base-package="com.choose.controller"/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/user/loginPage"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/teacher/registerPage"/>
            <mvc:exclude-mapping path="/teacher/register"/>
            <mvc:exclude-mapping path="/user/registerPage"/>
            <mvc:exclude-mapping path="/user/register"/>
            <bean class="com.choose.global.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>