<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choose.dao.ChooseDao">
    <resultMap id="BaseResultMap" type="com.choose.entity.Choose">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="seat_number" jdbcType="INTEGER" property="seatNumber"/>
        <result column="date" jdbcType="INTEGER" property="date"/>
        <association property="admin" javaType="com.choose.entity.Admin"
                     select="com.choose.dao.AdminDao.selectByPrimaryKey"
                     column="admin_id"
        />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `choose`
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.choose.entity.Choose"
            useGeneratedKeys="true">
    insert into `choose` (user_id, seat_number, admin_id,`date`
      )
    values (#{userId,jdbcType=INTEGER}, #{seatNumber,jdbcType=INTEGER}, #{admin.id,jdbcType=INTEGER},#{date}
      )
  </insert>
    <update id="update">
        update `choose`
        <set>
            <if test="seat!=null">
                seat=#{seat},
            </if>
            <if test="adminId!=null">
                admin_id=#{adminId},
            </if>
        </set>
        where user_id = #{userId}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, seat_number, admin_id,date
    from `choose`
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, seat_number, admin_id,date
    from `choose`
  </select>

    <select id="selectStatusById" resultMap="BaseResultMap">
    select *
    from choose
    where admin_id=#{adminId};
  </select>

    <select id="selectChoosedSeatsByAdminId" resultType="java.lang.Integer">
        SELECT seat_number
        from choose
        where admin_id=#{adminId};
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
    select *
    from choose
    where user_id=#{userId};
  </select>

    <select id="selectRemainSeatsByAdminId" resultType="java.lang.Integer">
    SELECT count(*)
    from choose
    where admin_id=#{adminId};
  </select>

    <delete id="deleteByUserIdAndAdminId">
        delete from choose
        where user_id=#{userId} and admin_id=#{adminId}
    </delete>
    <!--用于做用户选课冲突时使用-->
    <select id="selectByUserIdAndDay" resultMap="com.choose.dao.AdminDao.BaseResultMap">
       SELECT admin.id, admin.begin_time,admin.end_time,admin.course_id,admin.teacher_id,admin.end_time,admin.total_seat
       FROM choose,admin
       where user_id=#{userId} and choose.admin_id=admin.id
       and admin.`day`=#{day};
    </select>
    <select id="selectCountByAdminIdAndSeatNumber" resultType="java.lang.Integer">
        select count(*)
        from choose
        where admin_id=#{adminId} and seat_number=#{seatNumber};
    </select>

    <delete id="deleteByDate">
        delete from choose
        where `date` &lt;#{date}
    </delete>

    <select id="selectChooseNumByAdminId" resultType="java.lang.Integer">
        select count(*)
        from choose
        where admin_id=#{adminId};
    </select>
</mapper>